/* /webapp/css/main.css v1.2.0 */
/* CHANGELOG v1.2.0:
 * - CHANGED: 20L.css now imported from ../20L/20L.css (modular)
 * CHANGELOG v1.1.1:
 * - Added investments.css import
 */

@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css";

@import "./layout/body.css";
@import "./layout/container.css";
@import "./layout/visibility.css";

@import "./effects/backgrounds.css";
@import "./effects/animations.css";

@import "./components/spinner.css";
@import "./components/buttons.css";
@import "./components/forms.css";
@import "./components/cards.css";
@import "./components/dropdown.css";
@import "./components/modal.css";

@import "./screens/loading.css";
@import "./screens/auth.css";
@import "./screens/cabinet.css";
@import "./screens/dashboard.css";
@import "./screens/create-account.css";
@import "./screens/financial-report.css";
@import "./screens/offering-zone.css";
@import "../investments/investments.css"; /* Investment Level 1 module */

@import "./features/business-triangle.css";
@import "../businessTriangle/triangle.css";
@import "../20L/20L.css"; /* 20L Lead Management System module */

@import "./responsive.css";