@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css";

@import "./layout/body.css";
@import "./layout/container.css";
@import "./layout/visibility.css";

@import "./effects/backgrounds.css";
@import "./effects/animations.css";

@import "./components/spinner.css";
@import "./components/buttons.css";
@import "./components/forms.css";
@import "./components/cards.css";
@import "./components/dropdown.css";
@import "./components/modal.css";

@import "./screens/loading.css";
@import "./screens/auth.css";
@import "./screens/cabinet.css";
@import "./screens/dashboard.css";
@import "./screens/create-account.css";

@import "./features/business-triangle.css";

@import "./responsive.css";
